button{
    border-radius: 8px;
    font-size: 14px;
}
.btn-primary {
  background-color: #003b66 !important;
  border-color: #003b66 !important;
}
.btn-primary:hover {
  background-color: #002040 !important;
  border-color: #002040 !important;
}
.btn-secondary {
  background-color: #BED3FB !important;
  border-color: #BED3FB !important;
  color: #002040;
}
.btn-secondary:hover {
  background-color: #abbee0 !important;
  border-color: #abbee0 !important;
}

.btn-danger {
  background-color: #9e2a2b !important;
  border-color: #9e2a2b !important;
}
.btn-danger:hover {
  background-color: #852325 !important;
  border-color: #852325 !important;
}

.btn-success {
  background-color: #018e42 !important;
  border-color: #018e42 !important;
}
.btn-success:hover {
  background-color: #007035 !important;
  border-color: #018e42 !important;
}
.p-inputnumber-button-up,
.p-inputnumber-button-down {
  background-color: #003b66 !important;
  border-color: #003b66 !important;
}
.btn-simple {
  background-color: transparent !important;
  border: none !important;
  padding: 0px !important;
}
